body {
  background-color: #f9fbfd;
  font-family: Arial, Helvetica, sans-serif;
}

.calc {
  background: #a9a9a9;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  margin: auto;
  margin-top: 50px;
  max-width: 280px;
}

.display {
  background-color: #000000;
  border-radius: 10px 10px 15px 15px;
  font-size: 1.2em;
  height: 5em;
  margin-bottom: 16px;
  overflow: hidden;
  padding-right: 15px;
  padding-bottom: 0.7em;
  text-align: right;
}

.calculation-display {
  color: #ffffff;
  height: 2em;
  font-size: 1em;
  padding-top: 10px;
}

.result-display {
  color: #00ffff;
  font-size: 1.3em;
  height: 5em;
  margin-top: -20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.number-btn {
  background-color: #333333;
  border: none;
  border-radius: 60px;
  color: #ffffff;
  cursor: pointer;
  height: 60px;
  font-size: 26px;
  margin-left: 5px;
  width: 60px;
}

.number-btn:hover {
  background-color: #00ffff;
  color: #000000;
}

.operator-btn {  
  background-color: #fea00a;
  border: none;
  border-radius: 60px;
  color: #ffffff;
  cursor: pointer;
  height: 60px;
  font-size: 26px;
  margin-left: 5px;
  width: 60px;
}

.operator-btn:hover {
  background-color: #ffffff;
  color: #fea00a;
}

.clear-btn {
  background-color: #333333;
  border: none;
  border-radius: 60px;
  color: white;
  cursor: pointer;
  height: 60px;
  font-size: 20px;
  margin-left: 5px;
  width: 129px;
}

.delete-btn {  
  background-color: #333333;
  border: none;
  border-radius: 60px;
  color: #ffffff;
  cursor: pointer;
  height: 60px;
  font-size: 20px;
  margin-left: 6px;
  width: 60px;
}

.clear-btn:hover, .delete-btn:hover {
  background-color: orange;
}

footer {
  color: #000000;
  text-align: center;
  padding-top: 90px;
}

footer p {
  margin-bottom: 0px;
}